# Ambientes Virtuais
.venv/
venv/
env/
ENV/

# Python 
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Banco de Dados Local

*app.db
*test.db

# Configurações e Segredos
.env
.vscode/
.idea/

# Distribuição/Pacotes
dist/
build/
*.egg-info/